@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Nav bar */
.navbar-custom{
    background-color: #44cfcb;
    width: 100%;
}
nav a{
    max-width: 50%;
    color: #fcecc9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
nav a:hover{
    color: #fcecc9;
    filter: brightness(110%);
}


/* footer */
.footer{
    background-color: #44cfcb;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}