@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Nav bar */
.navbar-custom{
    background-color: #44cfcb;
    width: 100%;
}
.nav-logo{
    max-width: 50%;
    color: #fcecc9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-right: 5rem;
}
nav a:hover{
    color: #fcecc9;
    filter: brightness(110%);
}
.nav-link.nav-menu-item{
    color: #fcecc9;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}
.menu-icon{
    color: #fcecc9;;
    font-size: 2rem;
}
.menu-toggler{
    border: 1px solid #fcecc9;
}
button.menu-toggler:focus{
    outline: none;
}
/* Header */ 
.page-hdr{
    height: 100vh;
    width: 100%;
}



/* footer */
.footer{
    background-color: #44cfcb;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
}
.cp-symbol{
    color: #fcecc9;
    font-size: 0.8rem;
}
.cp-text{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-left: 0.3rem;;
}