@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}

/* Nav bar */
.navbar-custom{
    background-color: #44cfcb;
    width: 100%;
}
.nav-logo{
    max-width: 50%;
    color: #fcecc9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-right: 5rem;
}
nav a:hover{
    color: #fcecc9;
    filter: brightness(110%);
}
.nav-link.nav-menu-item{
    color: #fcecc9;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
}
.menu-icon{
    color: #fcecc9;;
    font-size: 2rem;
}
.menu-toggler{
    border: 1px solid #fcecc9;
}
button.menu-toggler:focus{
    outline: none;
}
/* Header */ 
.page-hdr{
    height: 100vh;
    width: 100%;
    position: relative;
}
.btn-display{
    position: absolute;
    width: 100%;
    top: 70%;
}
/* resolved issues relating to button placement here https://stackoverflow.com/questions/7560832/how-to-center-a-button-within-a-div */
.btn-cta{
    background-color: #F35B04;
    color: #fcecc9;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    display: block;
    border: transparent;
    margin: 0 auto;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    box-shadow: 0 0.4rem rgba(15, 15, 15, 0.2);
    z-index: 1000;
}
.btn-cta:focus{
    outline: none;
}
.btn-cta:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.2);
}
.header-imgs{
    height: 100%;
    width: 100vw;
    display: flex;
    transform: translateX(0);
    transition: transform 0.9s ease-in-out;
}
.header-carosel-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* footer */
.footer{
    background-color: #44cfcb;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.2rem;
}
.cp-symbol{
    color: #fcecc9;
    font-size: 0.8rem;
}
.cp-text{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-left: 0.3rem;;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
.social-media-links{
    color: #fcecc9;
    font-size: 1.5rem;
}